@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&family=Eagle+Lake&display=swap');


* html {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow: hidden;
  width:100%;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Poppins', sans-serif;
 
 
  
}

.bg-image {
  background-image: url('../src/asset/herobg2.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position: top center;
  
}

.authenticationimage{
  background-image: url('../src/asset/herobg2.jpg');
  background-size:cover;
  background-repeat: no-repeat;
  background-position:top center;
}

.divbox-shadow{

   box-shadow: 1px 1px 5px  rgba(0,0,0,0.1), -1px -1px 5px  rgba(0,0,0,0.1)
}

@tailwind base;
@tailwind components;
@tailwind utilities;
